<section class="container text-center parent">
  <div class="container child">
    <h1 class="display-4">View Doctors</h1>
    <br>

    <table border="1" class="table table-bordered text-center" *ngIf="!loading">
      <thead class="thead text-center thead-dark">
        <tr>
          <th>Doctor ID</th>
          <th>Doctor Name</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let doctor of doctors">
          <td class="pt-4">{{doctor.DoctorId}}</td>
          <td class="pt-4">{{doctor.DoctorName}}</td>
          <td>
            <button (click)="editDoctor(doctor)" class="btn btn-primary">Edit Doctor</button>
          </td>
          <td>
            <button (click)="deleteDoctor(doctor.DoctorId)" class="btn btn-danger">Remove Doctor</button>
          </td>
        </tr>

      </tbody>

    </table>

    <!-- <div class="row container-fluid card-deck" *ngIf="!loading">
      <div class="col-4 bg-dark text-center text-white border-0 p-2" *ngFor=" let doctor of doctors">
        <div class="card container bg-dark border-0">
          <div class="card-body">
            <h5 class="card-title">{{doctor.DoctorName}}</h5>
            Doctor ID : {{doctor.DoctorId}}
          </div>

        </div>
        <div class="row">
          <div class="col-6"><button (click)="editDoctor(doctor)" class="btn btn-primary">Edit</button></div>
          <div class="col-6"><button (click)="deleteDoctor(doctor.DoctorId)" class="btn btn-danger">Remove</button>
          </div>
        </div>
      </div>
    </div> -->
    <br>
  </div>
</section>
<br>
<app-spinner *ngIf="loading"></app-spinner>