/* You can add global styles to this file, and also import other style files */
body{
    font-family: "Times New Roman", Times, serif;
    background-image: url("https://img.freepik.com/free-vector/clean-medical-background_53876-97927.jpg?w=996&t=st=1695875892~exp=1695876492~hmac=21a50097ee7ba9d8a65a7e6802304c64b7c4f79b9fd34a0035c11641039f18c8");

    background-size: cover;
    
}
