/* You can add global styles to this file, and also import other style files */
body{
    font-family: "Times New Roman", Times, serif;
    background-image: url("https://img.freepik.com/free-vector/clean-medical-background_53876-97927.jpg?w=996&t=st=1695878222~exp=1695878822~hmac=afb5aceae3c3a7a207fc7b594b2856a6fa671733f056a23f22398a04a85aacf3");

    background-size: cover;
    
}
